Model/modelrad
Justin's bronnen/Justins_overig_meuk/water/model1d
Justin's bronnen/Justins_overig_meuk/water/model1d_cycle
Justin's bronnen/Justins_overig_meuk/water/modelbuoy
Justin's bronnen/Justins_overig_meuk/water/modelrad
Justin's bronnen/Justins_overig_meuk/PySeawATES-master/output
Justin's bronnen/Justins_overig_meuk/swt_v4_00_05
Justin's bronnen/Justins_overig_meuk/CCS
Model/figures/overview_year_*.png
Model/figures/old_figures/overview_year_*.png
Model/modelrad_*
Model/output/*.nc
